Repository Imudassir77/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, dmenu, documentation, dwm, editorconfig, enhancement, github, js, openbsd, sponsor, st, suckless, surf, tabbed, test, vim, visual studio

Update XDG_TEMPLATES_DIR to XDG_CONFIG_HOME/templates
  .config/user-dirs.dirs
Labels: none

Create package.go
  .config/templates/package.go
Labels: none

Create document.md
  .config/templates/document.md
Labels: none

Create script.sh
  .config/templates/script.sh
Labels: none

Create script.js
  .config/templates/script.js
Labels: none

Add python rules
  .editorconfig
Labels: editorconfig

Create script.py
  .config/templates/script.py
Labels: none

Make Documents and Downloads go to Desktop
  .config/user-dirs.dirs
Labels: none

Keep dir names lowercase
  .config/user-dirs.dirs
Labels: none

Point desktop to home
  .config/user-dirs.dirs
Labels: none

Ensure XDG directories exist
  .profile
Labels: none

Add submodule.<name>.branch
  .gitmodules
Labels: none

Branch is now specified in .gitmodules
  .github/workflows/weekly.yml
Labels: actions, github

Update command snippet
  .github/README.md
Labels: github

Correct branch
  .gitmodules
Labels: none

Update command snippet
  .github/README.md
Labels: github

Update submodule command
  .github/workflows/weekly.yml
Labels: actions, github

Fix whitespace
  .gitmodules
Labels: none

Express XDG user dirs as environment variables
  .profile
Labels: none

Delete user-dirs.dirs
  .config/user-dirs.dirs
Labels: none

Update media dirs
  .profile
Labels: none

Add devicons for vim
  .config/vim/pack/misc/start/README.md
  .gitmodules
Labels: none

Mark .config/templates as vendored
  .gitattributes
Labels: none

Create gruvbox-dark.xresources
  .config/X11/colours/gruvbox-dark.xresources
Labels: none

Create gruvbox-light.xresources
  .config/X11/colours/gruvbox-light.xresources
Labels: none

Update submodule upstream for gruvbox
  .gitmodules
Labels: none

Remove gruvbox
  .gitmodules
Labels: none

Add gruvbox material
  .gitmodules
Labels: none

Add backup commit
  .github/workflows/weekly.yml
Labels: actions, github

Include all sub files
  .gitattributes
Labels: none

Always show colours in git command outputs
  .config/git/config
Labels: none

Correct path
  .gitattributes
Labels: none

`color.pager` doesn't support "always"
  .config/git/config
Labels: none

Use bright colours in `xterm` instead of bold
  .config/X11/xresources
Labels: none

Push new branch *after* updating the submodules
  .github/workflows/weekly.yml
Labels: actions, github

Add nonstandard pseudo XDG_LIB_HOME
  .profile
Labels: none

Ensure XDG_LIB_HOME exists
  .profile
Labels: none

Add common functions
  .local/lib/sh/common
Labels: none

Use common functions, import and using
  .profile
Labels: none

Add spaceduck theme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

.github/labeler.yml:

---

# GitHub Actions
actions:
  - ".github/workflows/*.yml"

# http://tools.suckless.org/dmenu/
dmenu:
  - ".dmenu/**"

# Improvements or additions to documentation
documentation:
  - any:
    - ".github/README.md"
    - ".github/LICENSE"
    - ".github/CODEOWNERS"
    - ".github/PULL_REQUEST_TEMPLATE.md"
    - ".github/ISSUE_TEMPLATE/*.md"
    - ".github/ISSUE_TEMPLATE/config.yml"
    - ".gitattributes"
    - "**/README*"

# http://dwm.suckless.org/
dwm:
  - ".dwm/**"

# This regards the .editorconfig file or settings
editorconfig:
  - "**/.editorconfig"

# New feature or request
enhancement:
  - any:
    - "*"
    - ".config/gh/*"
    - ".github/**"
    - ".gitattributes"
    - ".gitconfig"
    - ".gitignore"
    - ".gitmodules"
    - ".dotnet"
    - ".nuget"

# Actually GitHub
github:
  - ".github/**"

# This regards JavaScript
js:
  - "**.js"

# Has to do with Puffy
openbsd:
  - any:
    - "**/openbsd/**"
    - ".doas.conf"
    - ".xsetup"
    - ".kshrc"
    - "**.ksh"

# GitHub sponsors
sponsor:
  - ".github/FUNDING.yml"

# http://st.suckless.org/
st:
  - ".st/**"

# Anything to do with a suckless.org tool
suckless:
  - any:
    - ".dmenu/**"
    - ".dwm/**"
    - ".st/**"
    - ".surf/**"
    - ".tabbed/**"
    - "**.config.h"
    - "**.config.def.h"

# http://surf.suckless.org/
surf:
  - ".surf/**"

# http://tools.suckless.org/tabbed/
tabbed:
  - ".tabbed/**"

# This needs a test case written
test:
  - ".github/workflows/testing.yml"

# This regard vim or vimscript
vim:
  - any:
    - ".exrc"
    - ".vimrc"
    - ".vim/**"
    - "**.vim"

# This affects Visual Studio (or VS-Code)
"visual studio":
  - ".vs/**"
