Repository Imudassir77/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, dmenu, documentation, dwm, editorconfig, enhancement, github, js, openbsd, sponsor, st, suckless, surf, tabbed, test, vim, visual studio

.github/labeler.yml:

---

# GitHub Actions
actions:
  - ".github/workflows/*.yml"

# http://tools.suckless.org/dmenu/
dmenu:
  - ".dmenu/**"

# Improvements or additions to documentation
documentation:
  - any:
    - ".github/README.md"
    - ".github/LICENSE"
    - ".github/CODEOWNERS"
    - ".github/PULL_REQUEST_TEMPLATE.md"
    - ".github/ISSUE_TEMPLATE/*.md"
    - ".github/ISSUE_TEMPLATE/config.yml"
    - ".gitattributes"
    - "**/README*"

# http://dwm.suckless.org/
dwm:
  - ".dwm/**"

# This regards the .editorconfig file or settings
editorconfig:
  - "**/.editorconfig"

# New feature or request
enhancement:
  - any:
    - "*"
    - ".config/gh/*"
    - ".github/**"
    - ".gitattributes"
    - ".gitconfig"
    - ".gitignore"
    - ".gitmodules"
    - ".dotnet"
    - ".nuget"

# Actually GitHub
github:
  - ".github/**"

# This regards JavaScript
js:
  - "**.js"

# Has to do with Puffy
openbsd:
  - any:
    - "**/openbsd/**"
    - ".doas.conf"
    - ".xsetup"
    - ".kshrc"
    - "**.ksh"

# GitHub sponsors
sponsor:
  - ".github/FUNDING.yml"

# http://st.suckless.org/
st:
  - ".st/**"

# Anything to do with a suckless.org tool
suckless:
  - any:
    - ".dmenu/**"
    - ".dwm/**"
    - ".st/**"
    - ".surf/**"
    - ".tabbed/**"
    - "**.config.h"
    - "**.config.def.h"

# http://surf.suckless.org/
surf:
  - ".surf/**"

# http://tools.suckless.org/tabbed/
tabbed:
  - ".tabbed/**"

# This needs a test case written
test:
  - ".github/workflows/testing.yml"

# This regard vim or vimscript
vim:
  - any:
    - ".exrc"
    - ".vimrc"
    - ".vim/**"
    - "**.vim"

# This affects Visual Studio (or VS-Code)
"visual studio":
  - ".vs/**"

Update PR title to new standard
  .github/workflows/weekly.yml
Labels: actions, github

Add backup branch as `main`
  .github/workflows/weekly.yml
Labels: actions, github

Replace juvenile with custom theme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add aliases *fetch commands
  .config/aliases/neofetch
  .config/aliases/pfetch
  .config/aliases/ufetch
  .profile
Labels: none

Add gitignore for vim files
  .config/vim/.gitignore
Labels: none

Merge .config/vim/spell/.gitignore into main vim .gitignore
  .config/vim/.gitignore
  .config/vim/spell/.gitignore
Labels: none

Correct repo path
  .github/workflows/issue_automation.yml
Labels: actions, github

Remove duplicate step and correct step name
  .github/workflows/weekly.yml
Labels: actions, github

Use official description
  .config/vim/pack/yaml/start/README.md
Labels: none

Update description
  .config/vim/pack/pgn/start/README.md
Labels: none

Correct commentary description
  .config/vim/pack/misc/start/README.md
Labels: none

Add description for illuminate.vim
  .config/vim/pack/misc/start/README.md
Labels: none

Add full stops
  .config/vim/pack/misc/start/README.md
Labels: none

Update description
  .config/vim/pack/markdown/start/README.md
Labels: none

Update description
  .config/vim/pack/javascript/start/README.md
Labels: none

Update description
  .config/vim/pack/html/start/README.md
Labels: none

Add fullstop
  .config/vim/pack/go/start/README.md
Labels: none

Update desciptions
  .config/vim/pack/git/start/README.md
Labels: none

Update description
  .config/vim/pack/editorconfig/start/README.md
Labels: none

Update description
  .config/vim/pack/css/start/README.md
Labels: none

Update description
  .config/vim/pack/c/start/README.md
Labels: none

Update descriptions
  .config/vim/pack/colours/start/README.md
Labels: none

Allow including xresources from ${XDG_CONFIG_HOME}/x11
  .config/X11/xinitrc
Labels: none

Remove faulty ignore pattern
  .config/git/ignore
Labels: none

Create dos.xresources
  .config/X11/colours/dos.xresources
Labels: none

Include colours/dos.xresources
  .config/X11/xresources
Labels: none

Update command snippet
  .github/README.md
Labels: github

Use ssh for gh tool
  .config/gh/config.yml
Labels: none

Create tender.xresources
  .config/X11/colours/tender.xresources
Labels: none

Create rigel.xresources
  .config/X11/colours/rigel.xresources
Labels: none

Add sourcerer vim theme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Specify xterm
  .config/X11/colours/tender.xresources
Labels: none

Create sourcerer.xresources
  .config/X11/colours/sourcerer.xresources
Labels: none

Create material-ocean.xresources
  .config/X11/colours/material-ocean.xresources
Labels: none

Create material-palenight.xresources
  .config/X11/colours/material-palenight.xresources
Labels: none

Standardize xresource format
  .config/X11/colours/dos.xresources
Labels: none

Standardize xresource format
  .config/X11/colours/tender.xresources
Labels: none

Add material for vim
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Cleanup scheme
  .config/X11/colours/sourcerer.xresources
Labels: none

Create main.go
  .config/templates/main.go
Labels: none
