Repository Imudassir77/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, dmenu, documentation, dwm, editorconfig, enhancement, github, js, openbsd, sponsor, st, suckless, surf, tabbed, test, vim, visual studio

Create spaceduck.xresources
  .config/X11/colours/spaceduck.xresources
Labels: none

Ensure support for true colours and tmux
  .config/vim/vimrc
Labels: none

Fix alignment
  .config/X11/xresources
Labels: none

Add init.defaultBranch = main
  .config/git/config
Labels: none

Fix lint action query
  .github/README.md
Labels: github

Create SECURITY.md
  SECURITY.md
Labels: none

Delete LICENSE
  .github/LICENSE
Labels: github

Delete CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: github

Delete colours-and-themes.md
  .github/ISSUE_TEMPLATE/colours-and-themes.md
Labels: github

Delete github.md
  .github/ISSUE_TEMPLATE/github.md
Labels: github

Delete config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: github

Delete editorconfig.md
  .github/ISSUE_TEMPLATE/editorconfig.md
Labels: github

Delete git.md
  .github/ISSUE_TEMPLATE/git.md
Labels: github

Delete unix-shell-environment---cli.md
  .github/ISSUE_TEMPLATE/unix-shell-environment---cli.md
Labels: github

Delete vim-neovim.md
  .github/ISSUE_TEMPLATE/vim-neovim.md
Labels: github

Delete visual-studio.md
  .github/ISSUE_TEMPLATE/visual-studio.md
Labels: github

Delete xdg-base-directory-and-xorg-x11.md
  .github/ISSUE_TEMPLATE/xdg-base-directory-and-xorg-x11.md
Labels: github

Delete backmerge.yml
  .github/workflows/backmerge.yml
Labels: actions, github

Delete lint.yml
  .github/workflows/lint.yml
Labels: actions, github

Delete issue_automation.yml
  .github/workflows/issue_automation.yml
Labels: actions, github

Delete pull_automation.yml
  .github/workflows/pull_automation.yml
Labels: actions, github

Delete weekly.yml
  .github/workflows/weekly.yml
Labels: actions, github

Delete CODEOWNERS
  .github/CODEOWNERS
Labels: github

Delete CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: github

Delete PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

Delete README.md
  .github/README.md
Labels: github

.github/labeler.yml:

---

# GitHub Actions
actions:
  - ".github/workflows/*.yml"

# http://tools.suckless.org/dmenu/
dmenu:
  - ".dmenu/**"

# Improvements or additions to documentation
documentation:
  - any:
    - ".github/README.md"
    - ".github/LICENSE"
    - ".github/CODEOWNERS"
    - ".github/PULL_REQUEST_TEMPLATE.md"
    - ".github/ISSUE_TEMPLATE/*.md"
    - ".github/ISSUE_TEMPLATE/config.yml"
    - ".gitattributes"
    - "**/README*"

# http://dwm.suckless.org/
dwm:
  - ".dwm/**"

# This regards the .editorconfig file or settings
editorconfig:
  - "**/.editorconfig"

# New feature or request
enhancement:
  - any:
    - "*"
    - ".config/gh/*"
    - ".github/**"
    - ".gitattributes"
    - ".gitconfig"
    - ".gitignore"
    - ".gitmodules"
    - ".dotnet"
    - ".nuget"

# Actually GitHub
github:
  - ".github/**"

# This regards JavaScript
js:
  - "**.js"

# Has to do with Puffy
openbsd:
  - any:
    - "**/openbsd/**"
    - ".doas.conf"
    - ".xsetup"
    - ".kshrc"
    - "**.ksh"

# GitHub sponsors
sponsor:
  - ".github/FUNDING.yml"

# http://st.suckless.org/
st:
  - ".st/**"

# Anything to do with a suckless.org tool
suckless:
  - any:
    - ".dmenu/**"
    - ".dwm/**"
    - ".st/**"
    - ".surf/**"
    - ".tabbed/**"
    - "**.config.h"
    - "**.config.def.h"

# http://surf.suckless.org/
surf:
  - ".surf/**"

# http://tools.suckless.org/tabbed/
tabbed:
  - ".tabbed/**"

# This needs a test case written
test:
  - ".github/workflows/testing.yml"

# This regard vim or vimscript
vim:
  - any:
    - ".exrc"
    - ".vimrc"
    - ".vim/**"
    - "**.vim"

# This affects Visual Studio (or VS-Code)
"visual studio":
  - ".vs/**"
