Repository Imudassir77/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, dmenu, documentation, dwm, editorconfig, enhancement, github, js, openbsd, sponsor, st, suckless, surf, tabbed, test, vim, visual studio

.github/labeler.yml:

---

# GitHub Actions
actions:
  - ".github/workflows/*.yml"

# http://tools.suckless.org/dmenu/
dmenu:
  - ".dmenu/**"

# Improvements or additions to documentation
documentation:
  - any:
    - ".github/README.md"
    - ".github/LICENSE"
    - ".github/CODEOWNERS"
    - ".github/PULL_REQUEST_TEMPLATE.md"
    - ".github/ISSUE_TEMPLATE/*.md"
    - ".github/ISSUE_TEMPLATE/config.yml"
    - ".gitattributes"
    - "**/README*"

# http://dwm.suckless.org/
dwm:
  - ".dwm/**"

# This regards the .editorconfig file or settings
editorconfig:
  - "**/.editorconfig"

# New feature or request
enhancement:
  - any:
    - "*"
    - ".config/gh/*"
    - ".github/**"
    - ".gitattributes"
    - ".gitconfig"
    - ".gitignore"
    - ".gitmodules"
    - ".dotnet"
    - ".nuget"

# Actually GitHub
github:
  - ".github/**"

# This regards JavaScript
js:
  - "**.js"

# Has to do with Puffy
openbsd:
  - any:
    - "**/openbsd/**"
    - ".doas.conf"
    - ".xsetup"
    - ".kshrc"
    - "**.ksh"

# GitHub sponsors
sponsor:
  - ".github/FUNDING.yml"

# http://st.suckless.org/
st:
  - ".st/**"

# Anything to do with a suckless.org tool
suckless:
  - any:
    - ".dmenu/**"
    - ".dwm/**"
    - ".st/**"
    - ".surf/**"
    - ".tabbed/**"
    - "**.config.h"
    - "**.config.def.h"

# http://surf.suckless.org/
surf:
  - ".surf/**"

# http://tools.suckless.org/tabbed/
tabbed:
  - ".tabbed/**"

# This needs a test case written
test:
  - ".github/workflows/testing.yml"

# This regard vim or vimscript
vim:
  - any:
    - ".exrc"
    - ".vimrc"
    - ".vim/**"
    - "**.vim"

# This affects Visual Studio (or VS-Code)
"visual studio":
  - ".vs/**"

Add link to pull request and clean up checkout
  .github/workflows/issue_automation.yml
Labels: actions, github

Fix whitespace
  .github/workflows/issue_automation.yml
Labels: actions, github

Construct PR link manually
  .github/workflows/issue_automation.yml
Labels: actions, github

Fix pr link
  .github/workflows/issue_automation.yml
Labels: actions, github

Fix PR link
  .github/workflows/issue_automation.yml
Labels: actions, github

Rewrite issue branch and PR comment
  .github/workflows/issue_automation.yml
Labels: actions, github

Create user-dirs.dirs
  .config/user-dirs.dirs
Labels: none

Report XDG user directory config as shell script
  .gitattributes
Labels: none

Correct regex and remove iss
  .github/workflows/pull_automation.yml
Labels: actions, github

Remove hardcoded projects from GOPATH
  .profile
Labels: none

Create global gitignore
  .config/git/ignore
Labels: none

Remove duplicate gitignore rules
  .gitignore
Labels: none

Set git config core.editor
  .profile
Labels: none

Set git config core.pager
  .profile
Labels: none

Cleanup and expand colour configs
  .config/git/config
Labels: none

Add column output settings
  .config/git/config
Labels: none

Correct syntax errors
  .config/git/config
Labels: none

Correct git config colour syntax
  .config/git/config
Labels: none

Fix boolean options
  .config/git/config
Labels: none

Add tender colourscheme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Fix gitignore precedence issue.
  .gitignore
Labels: none

Ignore `.foo` specifically
  .gitignore
Labels: none

Ignore Go build files globally
  .config/git/ignore
Labels: none

Ignore vim temp files globally
  .config/git/ignore
Labels: none

Add falcon colourscheme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add dracula theme for vim
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add CONTRIBUTING.md link
  .github/README.md
Labels: github

Add sleuth.vim
  .config/vim/pack/misc/start/README.md
  .gitmodules
Labels: none

Add badges to pulls
  .github/workflows/issue_automation.yml
Labels: actions, github

Fix missing `${{`
  .github/workflows/issue_automation.yml
Labels: actions, github

Use branch ref as PR cannot be referenced before creation
  .github/workflows/issue_automation.yml
Labels: actions, github

Set labels explicitly
  .github/workflows/issue_automation.yml
Labels: actions, github

Delete script.js
  .local/share/suckless/surf/script.js
Labels: none

Add ISA flag
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/ISA flag.png
Labels: none

Revert "Add ISA flag"
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/ISA flag.png
Labels: none

Add ISA flag
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/130345229-2c0b9cf3-6237-459b-8e89-f23f9e9a1d51.png
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/ISA flags.png
Labels: none

Add ISA flag
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/130345229-2c0b9cf3-6237-459b-8e89-f23f9e9a1d51.png
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/ISA flags.png
Labels: none

Document Backmerge Action
  .github/workflows/backmerge.yml
Labels: actions, github

Move git config to environment section
  .github/workflows/weekly.yml
Labels: actions, github

Split creating new branch and pushing changes
  .github/workflows/weekly.yml
Labels: actions, github
