Repository Imudassir77/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, dmenu, documentation, dwm, editorconfig, enhancement, github, js, openbsd, sponsor, st, suckless, surf, tabbed, test, vim, visual studio

.github/labeler.yml:

---

actions: # GitHub Actions
  - ".github/workflows/*.yml"

dmenu: # http://tools.suckless.org/dmenu/
  - ".dmenu/**"

documentation: # Improvements or additions to documentation
  - any: [
    ".github/README.md",
    ".github/LICENSE",
    ".github/CODEOWNERS",
    ".github/PULL_REQUEST_TEMPLATE.md",
    ".github/ISSUE_TEMPLATE/*.md",
    ".github/ISSUE_TEMPLATE/config.yml",
    ".gitattributes",
    "**/README*"
  ]

dwm: # http://dwm.suckless.org/
  - ".dwm/**"

editorconfig: # This regards the .editorconfig file or settings
  - "**/.editorconfig"

enhancement: # New feature or request
  - any: [
    "*",
    ".config/gh/*",
    ".github/**",
    ".gitattributes",
    ".gitconfig",
    ".gitignore",
    ".gitmodules",
    ".dotnet",
    ".nuget"
  ]

github: # Actually GitHub
  - ".github/**"

js: # This regards JavaScript
  - "**.js"

openbsd: # Has to do with Puffy
  - any: [
    "**/openbsd/**",
    ".doas.conf",
    ".xsetup",
    ".kshrc",
    "**.ksh"
  ]

sponsor: # GitHub sponsors
  - ".github/FUNDING.yml"

st: # http://st.suckless.org/
  - ".st/**"

suckless: # Anything to do with a suckless.org tool
  - any: [
    ".dmenu/**",
    ".dwm/**",
    ".st/**",
    ".surf/**",
    ".tabbed/**",
    "**.config.h",
    "**.config.def.h"
  ]

surf: # http://surf.suckless.org/
  - ".surf/**"

tabbed: # http://tools.suckless.org/tabbed/
  - ".tabbed/**"

test: # This needs a test case written
  - ".github/workflows/testing.yml"

vim: # This regard vim or vimscript
  - any: [
    ".exrc",
    ".vimrc",
    ".vim/**",
    "**.vim"
  ]

"visual studio": # This affects Visual Studio (or VS-Code)
  - ".vs/**"

Create .gitattributes
  .gitattributes
Labels: none

Create .gitkeep
  .local/share/suckless/surf/styles/.gitkeep
Labels: none

Delete startpage.com.css
  .local/share/suckless/surf/styles/startpage.com.css
Labels: none

Handle INI files case wise
  .gitattributes
Labels: none

Specify all gitignore
  .gitattributes
Labels: none

Don't report repo specific git configurations
  .gitattributes
Labels: none

Mark files as linguist-vendored rather than unmarking linguist-detectable
  .gitattributes
Labels: none

Lint all markdown files
  .github/workflows/lint.yml
Labels: actions, github

Add poor formatted text to test linter
  .github/README.md
Labels: github

Correct step name
  .github/workflows/lint.yml
Labels: actions, github

Remove MD033 directive to test linter
  .github/README.md
Labels: github

Butcher whitespace to test linter
  .github/README.md
Labels: github

Restore whitespace
  .github/README.md
Labels: github

Update lint.yml
  .github/workflows/lint.yml
Labels: actions, github

Account for hidden directories
  .github/workflows/lint.yml
Labels: actions, github

Restore directive: MD033
  .github/README.md
Labels: github

MD013: Line length [Expected: 80; Actual: 87]
  .github/CODE_OF_CONDUCT.md
Labels: github

MD034: Bare URL used
  .github/CODE_OF_CONDUCT.md
Labels: github

Add files via upload
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/Hnet.com-image (1).png
Labels: none

Renamed Hnet.com-image (1).png -> True South Antarctic flag.png
  .local/share/Steam/SteamApps/common/Kerbal Space Program/GameData/Squad/Flags/True South Antarctic flag.png
Labels: none

Add Documentation comments
  .github/workflows/lint.yml
Labels: actions, github

Report `.editorconfig` as vendored to hide INI as main language.
  .gitattributes
Labels: none

Add vim-smoothie
  .config/vim/pack/misc/start/README.md
  .gitmodules
Labels: none

Add Rigel colorscheme
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Correct detected language for exrc
  .gitattributes
Labels: none

Add Afterglow
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add spacegray
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add ACME colours
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Track directory and ignore structure
  .local/bin/go/pkg/.gitignore
Labels: none

Pull out file specific configurations into separate files.
  .config/vim/after/ftplugin/go.vim
  .config/vim/after/ftplugin/javascript.vim
  .config/vim/after/ftplugin/markdown.vim
  .config/vim/vimrc
Labels: none

Add highlight settings
  .config/vim/after/ftplugin/go.vim
Labels: none

Add sainnhe/edge
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add gruvbox
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Add kuroi
  .config/vim/pack/colours/start/README.md
  .gitmodules
Labels: none

Make kuroi main vim theme
  .config/vim/vimrc
Labels: none

Fold on code blocks
  .config/vim/after/ftplugin/go.vim
Labels: none

Fix line breaks
  .config/vim/after/ftplugin/go.vim
Labels: none

Correct highlighting of git config
  .gitattributes
Labels: none

Add empty commit and open PR
  .github/workflows/issue_automation.yml
Labels: actions, github

Setup git committer details
  .github/workflows/issue_automation.yml
Labels: actions, github
